[submodule "testSubModule"]
	path = testSubModule
	url = git@github.com:wstew98/testSubModule.git
[submodule "testSubModule2"]
	path = testSubModule2
	url = git@github.com:wstew98/testSubModule2.git
	
